@model IEnumerable<LiquorOnline.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<form class="justify-content-center" asp-controller="Products" asp-action="Index" method="get">
    <div class="input-group rounded mb-3 w-50">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="SearchString" />
        <span class="input-group-text border-0" id="search-addon">
            <button type="submit" class="btn">
                <i class="fas fa-search"></i>
            </button>
        </span>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Deliver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="../images/@item.ImageUrl" style="width:75px; height:75px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Deliver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary ml-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger ml-2">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>


